

body {
  background-color: #192444;
  margin: 5%;
}

.scal{
  transform: scale(0.8);
}

#pie_chart{
    size: 150%;
}


.card_container {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.create_container {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.create_container1 {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.dcc_compon {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
  font-size: 14;
}

.fix_label {
font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

#refresh-data {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}

#title {
  text-align: center;
}

#title1 {
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #1f2c56;
  color: white;

}

.Select-control{
  border: 0.5px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

.adjust_card {
  background-color: rgb(50, 53, 70);
  width: 340px;
  height: 115px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgb(88, 102, 126);
}

.adjust_card:hover {
  background-color: rgb(23, 25, 26);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.card_column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.coin {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

.coin_name {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 100px;
}

.coin_image {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.rank {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  margin-right: 15px;
}

.coin_rank {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coin_price {
  display: flex;
  flex-direction: row;
}

.price_indicator {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.adjust_price_and_coin {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.right_price_value {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}
.adjust_price_indicator_and_right_value {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: -7px;
}
.adjust_price_and_right_value {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: -1px;
}

.coin_price_column {
  display: flex;
  flex-direction: column;
}

.price_difference {
  display: flex;
  flex-direction: row;
}

.link {
    text-decoration: none;
}

.title_image {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.title {
  display: flex;
  flex-direction: row;
  white-space: pre;
}

.logo_title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex: 7;
  margin-left: 10px;
  margin-top: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2c56 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}
